@import "tailwindcss";
@import "@astryxdesign/core/reset.css";
@import "@astryxdesign/core/astryx.css";
@import "@astryxdesign/theme-stone/theme.css";

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--color-background-body);
  color: var(--color-text-primary);
}

img {
  max-width: 100%;
}

